@font-face {
  font-family: "GT Eesti";
  src: url("/fonts/GT-Eesti-Display-Light.woff2") format("woff2"),
    url("/fonts/GT-Eesti-Display-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "GT Eesti";
  src: url("/fonts/GT-Eesti-Display-Light-Italic.woff2") format("woff2"),
    url("/fonts/GT-Eesti-Display-Light-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "GT Eesti";
  src: url("/fonts/GT-Eesti-Display-Regular.woff2") format("woff2"),
    url("/fonts/GT-Eesti-Display-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "GT Eesti";
  src: url("/fonts/GT-Eesti-Display-Medium.woff2") format("woff2"),
    url("/fonts/GT-Eesti-Display-Medium.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "GT Eesti";
  src: url("/fonts/GT-Eesti-Display-Medium-Italic.woff2") format("woff2"),
    url("/fonts/GT-Eesti-Display-Medium-Italic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

/* jost-100 - latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/jost/jost-v3-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/jost/jost-v3-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/jost/jost-v3-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/jost/jost-v3-latin-100.woff') format('woff'), /* Modern Browsers */
       url('/fonts/jost/jost-v3-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/jost/jost-v3-latin-100.svg#Jost') format('svg'); /* Legacy iOS */
}
/* jost-200 - latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/jost/jost-v3-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/jost/jost-v3-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/jost/jost-v3-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/jost/jost-v3-latin-200.woff') format('woff'), /* Modern Browsers */
       url('/fonts/jost/jost-v3-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/jost/jost-v3-latin-200.svg#Jost') format('svg'); /* Legacy iOS */
}
/* jost-300 - latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/jost/jost-v3-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/jost/jost-v3-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/jost/jost-v3-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/jost/jost-v3-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/fonts/jost/jost-v3-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/jost/jost-v3-latin-300.svg#Jost') format('svg'); /* Legacy iOS */
}
/* jost-regular - latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/jost/jost-v3-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/jost/jost-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/jost/jost-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/jost/jost-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/jost/jost-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/jost/jost-v3-latin-regular.svg#Jost') format('svg'); /* Legacy iOS */
}
/* jost-600 - latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/jost/jost-v3-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/jost/jost-v3-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/jost/jost-v3-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/jost/jost-v3-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/fonts/jost/jost-v3-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/jost/jost-v3-latin-600.svg#Jost') format('svg'); /* Legacy iOS */
}
/* jost-500 - latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/jost/jost-v3-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/jost/jost-v3-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/jost/jost-v3-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/jost/jost-v3-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/fonts/jost/jost-v3-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/jost/jost-v3-latin-500.svg#Jost') format('svg'); /* Legacy iOS */
}
/* jost-700 - latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/jost/jost-v3-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/jost/jost-v3-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/jost/jost-v3-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/jost/jost-v3-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/jost/jost-v3-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/jost/jost-v3-latin-700.svg#Jost') format('svg'); /* Legacy iOS */
}
/* jost-800 - latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/jost/jost-v3-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/jost/jost-v3-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/jost/jost-v3-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/jost/jost-v3-latin-800.woff') format('woff'), /* Modern Browsers */
       url('/fonts/jost/jost-v3-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/jost/jost-v3-latin-800.svg#Jost') format('svg'); /* Legacy iOS */
}
/* jost-900 - latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/jost/jost-v3-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/jost/jost-v3-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/jost/jost-v3-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/jost/jost-v3-latin-900.woff') format('woff'), /* Modern Browsers */
       url('/fonts/jost/jost-v3-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/jost/jost-v3-latin-900.svg#Jost') format('svg'); /* Legacy iOS */
}
/* jost-100italic - latin */
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 100;
  src: url('/fonts/jost/jost-v3-latin-100italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/jost/jost-v3-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/jost/jost-v3-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/jost/jost-v3-latin-100italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/jost/jost-v3-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/jost/jost-v3-latin-100italic.svg#Jost') format('svg'); /* Legacy iOS */
}
/* jost-200italic - latin */
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 200;
  src: url('/fonts/jost/jost-v3-latin-200italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/jost/jost-v3-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/jost/jost-v3-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/jost/jost-v3-latin-200italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/jost/jost-v3-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/jost/jost-v3-latin-200italic.svg#Jost') format('svg'); /* Legacy iOS */
}
/* jost-300italic - latin */
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/jost/jost-v3-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/jost/jost-v3-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/jost/jost-v3-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/jost/jost-v3-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/jost/jost-v3-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/jost/jost-v3-latin-300italic.svg#Jost') format('svg'); /* Legacy iOS */
}
/* jost-italic - latin */
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/jost/jost-v3-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/jost/jost-v3-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/jost/jost-v3-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/jost/jost-v3-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/jost/jost-v3-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/jost/jost-v3-latin-italic.svg#Jost') format('svg'); /* Legacy iOS */
}
/* jost-500italic - latin */
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/jost/jost-v3-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/jost/jost-v3-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/jost/jost-v3-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/jost/jost-v3-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/jost/jost-v3-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/jost/jost-v3-latin-500italic.svg#Jost') format('svg'); /* Legacy iOS */
}
/* jost-600italic - latin */
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/jost/jost-v3-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/jost/jost-v3-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/jost/jost-v3-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/jost/jost-v3-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/jost/jost-v3-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/jost/jost-v3-latin-600italic.svg#Jost') format('svg'); /* Legacy iOS */
}
/* jost-700italic - latin */
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/jost/jost-v3-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/jost/jost-v3-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/jost/jost-v3-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/jost/jost-v3-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/jost/jost-v3-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/jost/jost-v3-latin-700italic.svg#Jost') format('svg'); /* Legacy iOS */
}
/* jost-800italic - latin */
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 800;
  src: url('/fonts/jost/jost-v3-latin-800italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/jost/jost-v3-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/jost/jost-v3-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/jost/jost-v3-latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/jost/jost-v3-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/jost/jost-v3-latin-800italic.svg#Jost') format('svg'); /* Legacy iOS */
}
/* jost-900italic - latin */
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 900;
  src: url('/fonts/jost/jost-v3-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/jost/jost-v3-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/jost/jost-v3-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/jost/jost-v3-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/jost/jost-v3-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/jost/jost-v3-latin-900italic.svg#Jost') format('svg'); /* Legacy iOS */
}